{% extends "base.html.twig" %}
{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="/css/login.css" type="text/css">
<h1>ログインページ</h1>
<dl>
    <dt><label for="username">ユーザ名</label></dt>
    <dd><input type="text" id="username" name="username"></dd>
    <dt><label for="password">パスワード</label></dt>
    <dd><input type="password" id="password" name="passwd"></dd>
<input type="hidden" name="token" value="{{csrf_token}}">
<input type="button" id="login" value="ログイン"/>
</dl>
<div id="link">
    <a href="/account/create">アカウント作成はこちら</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src='/js/login.js'></script>
{% endblock %}
