<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}web-training{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <a href="/account/logout">ログアウト</a>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
